{% extends 'base.html.twig' %}

{% block header_title %}
    <section class="my-4">
        <h1>Créer un utilisateur</h1>
    </section>
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_create')}) }}
        <div class="col-md-6">
            {{ form_row(form.username) }}

            {{ form_row(form.email) }}

            {{ form_row(form.role) }}

            {{ form_row(form.password.first) }}

            {{ form_row(form.password.second) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
